################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/WebModelingTool/WPFDesigner/obj/Debug/WPFDesigner_MarkupCompile.lref
/WebModelingTool/WPFDesigner/obj/Debug/WPFDesigner_MarkupCompile.cache
/WebModelingTool/WPFDesigner/obj/Debug/WPFDesigner.Properties.Resources.resources
/WebModelingTool/WPFDesigner/obj/Debug/WPFDesigner.pdb
/WebModelingTool/WPFDesigner/obj/Debug/WPFDesigner.g.resources
/WebModelingTool/.vs/WebModelingTool/v15/Server/sqlite3/db.lock
